a {
  text-decoration: none;
}

Col {
  height: 100%;
  margin-block: 1rem;
}

.pricingTable {
  text-align: center;
  background: #fff;
  margin-block: 1rem;
  box-shadow: 0 0 10px #ababab;
  padding-bottom: 40px;
  border-radius: 10px;
  color: #cad0de;
  transform: scale(1);
  transition: all 0.5s ease 0s;
  min-height: 90%;
  position: relative;
  height: 100%;
}
.col-sm-6.col-md-4.col-lg-4 {
  margin-block: 5rem;
}

.deleteButton {
  position: absolute;
  top: -0.8em;
  right: -0.8em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: rgb(255, 120, 120);
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
}

.pricingTable:hover .deleteButton {
  opacity: 1;
}

.pricingTable:hover .deleteButton:hover {
  background-color: rgb(255, 75, 75);
  color: #fcfcfc;
}

.pricingTable:hover {
  transform: scale(1.05);
  z-index: 1;
}

.pricingTable .pricingTable-header {
  padding: 40px 0;
  background: #f5f6f9;
  border-radius: 10px 10px 50% 50%;
  transition: all 0.5s ease 0s;
}

.pricingTable:hover .pricingTable-header {
  background: #ff9624;
}

.pricingTable .pricingTable-header i {
  font-size: 50px;
  color: #858c9a;
  margin-bottom: 10px;
  transition: all 0.5s ease 0s;
}

.pricingTable .price-value {
  font-size: 35px;
  color: #ff9624;
  transition: all 0.5s ease 0s;
}

.pricingTable .month {
  display: block;
  font-size: 14px;
  color: #cad0de;
}

.pricingTable:hover .month,
.pricingTable:hover .price-value,
.pricingTable:hover .pricingTable-header i {
  color: #fff;
}

.pricingTable .heading {
  font-size: 24px;
  color: #ff9624;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.pricingTable .pricing-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.pricingTable .pricing-content ul li {
  line-height: 30px;
  color: #a7a8aa;
}

.pricingTable .pricingTable-signup {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
}

.pricingTable .pricingTable-signup a {
  display: inline-block;
  font-size: 15px;
  color: #fff !important;
  padding: 10px 35px;
  border-radius: 20px;
  background: #ffa442;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.pricingTable .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #ffa442;
  cursor: pointer;
}
/* 
@media screen and (max-width: 990px) {
  .pricingTable {
    margin: 0 0 20px;
  }
} */
