.create-ad-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-ad-form {
  max-width: 400px; /* Réduit la largeur maximale */
  width: 100%; /* Utilise toute la largeur disponible */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre pour un effet de profondeur */
}

.create-ad-form h2 {
  margin-bottom: 20px;
  text-align: center; /* Centre le titre */
}

.create-ad-form button {
  margin-top: 20px;
  width: 100%; /* Étire le bouton pour remplir complètement le formulaire */
}

.create-ad-form form-group {
  margin-bottom: 15px; /* Réduit l'espacement entre les champs */
}

.create-ad-form label {
  font-weight: bold; /* Met en gras les étiquettes */
}

.create-ad-form input[type="text"],
.create-ad-form input[type="number"],
.create-ad-form input[type="file"],
.create-ad-form textarea {
  width: 100%; /* Remplir complètement le conteneur */
}

.create-ad-form input[type="file"] {
  margin-top: 10px; /* Ajoute un peu d'espace au-dessus du champ de fichier */
}

.create-ad-form input[type="date"] {
  width: calc(100% - 10px); /* Réduit légèrement la largeur pour éviter les débordements */
}
